.catalog-price {
    color:red;
}
.product_name_popup{
    font-family: Arial !important;
    font-weight: bold !important;
    font-size: 18px !important;
    color:#7C4C95 !important;
    padding-bottom: 15px;
    border-bottom: 1px solid #D1C9D2;
    margin-bottom: 15px !important;
}
.already_added {
    font-size:13px;
    color:#0086da;
}
.basket{
    display: none;
}
#priceHere .prise_cena{
    font-size: 25px!important;
    float: left;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 0;
    position: relative;
    color: #999!important;
}
#priceHere .prise_cena:after{
    content: "";
    width: 84%;
    height: 2px;
    background-color: #999;
    position: absolute;
    left: 0;
    top: 20px;
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
}
#priceHere .prise_discount{
    font-size: 25px!important;
    clear: both;
    float: left;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 0;
}

/*New styles*/

.rub_none{
    display: none!important;
}

.size_span {
    position: relative;
    top: -8px;
}
.product_block_info .sk-product-price_expects{
    width: 55%;
    position: relative;
    right: 115px;
    margin-top: 13px;
    line-height: 36px;
    font-size: 22px;
    font-weight: bold;
}
.product_block_info .sk-product-price_expects a{
    padding: 3px 20px;
    border-radius: 3px !important;
    background-color: #FF7A00;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'RotondaC';
    text-shadow: none;
    height: 38px;
    display: block;
    color: #fff;
    text-decoration: none;
}
.product_block_info .sk-product-price_order_expects{
    right: 12px;
    margin: 0;
    top: 13px;
    width: auto;
    position: absolute;
    height: 35px;
    background: none;
    border: none;
    background-color: #714E75;
    border-radius: 3px !important;
}
.product_block_info .sk-product-price_order_expects a{
    width: 180px;
    height: 39px;
    background: #714e75 url(/bitrix/templates/nmg/img/arrow.png) no-repeat 13%;
    padding-left: 20px!important;
    padding-top: 5px;
    font-family: 'RotondaC';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding-left: 0px;
    line-height: 2.3;
    display: block;
    border-radius: 3px!important;
    color: #fff;
}
.crumbs_black{
    clear:both;
}
#similarItems{
    clear: both;
    float: left;
}
.buy_button{
    background:#C0BBC1!important;
    padding-left:38px!important;
}
.fastorder-form{
    position: absolute;
    width: 100px;
    height: 35px;
    background: none;
    border: none;
    background-color: #714e75;
    border-radius: 3px!important;
    margin-top: 17px;
    right: 12px;
    line-height: 32px;
}
.fastorder-form a{
    width: 65px;
    height: 33px;
    background: #714e75 url(/bitrix/templates/nmg/img/arrow.png) no-repeat 10px;
    padding-left: 35px!important;
    padding-top: 5px;
    font-family: 'RotondaC';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    padding-left: 0px;
    line-height: 1.4;
    color: #fff;
    display: block;
    text-decoration: none;
    border-radius: 3px!important;
}
#OrderForm{
    display: none;
}
#OrderForm {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top:-113px;
    margin-left:-158px;
    width: 274px;
    padding: 20px;
    background: #fff;
    border: 1px solid #929292;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: #929292 0px 1px 5px;
    -moz-box-shadow: #929292 0px 1px 5px;
    box-shadow: #929292 0px 1px 5px;
    cursor: auto;
    display: block;
    z-index: 1001;
    display: none;
}
#OrderForm a.close1 {
    display: block;
    width: 20px;
    height: 20px;
    background: url(/bitrix/templates/nmg/img/close_bg.png) no-repeat;
    cursor: pointer;
    position: absolute;
    right: -8px;
    top: -9px;
}
#OrderForm ul li .input2 {
    display: block;
    width: 150px;
    height: 31px;
    background: url(/bitrix/templates/nmg/img/input_bg5.png) left bottom no-repeat;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    border: none;
}
#fancybox-tmp {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    background: #000;
    z-index: 1000;
}
#OrderForm ul li {
    padding: 0 0 5px 0;
    font-weight: bold;
    color: #404040;
    position: relative;
}
.form_alert,
.form_alert_error {
   text-align: center;
}
.form_alert_error{
    color: #F00;
    padding: 10px 0;
}

bx_item_list_you_looked_horizontal .bx_catalog_item {
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    margin-bottom: 30px;
}
.bx_item_list_you_looked_horizontal.col5 .bx_catalog_item {
    margin: 0 1% 30px;
    width: 18%;
}
.bx_item_list_you_looked_horizontal.col5 .bx_catalog_item:nth-child(5n+1) {
    clear: both;
}
.bx_item_list_section .link {
    float: left;
    margin: 10px 0;
    font-weight: normal;
}
.bx_item_list_section .photo {
    text-align: center;
    height: 130px;
}
.bx_item_list_section .acess_price {
    font-size: 20px;
    color: #805695;
    font-size: 18px;
    font-weight: bold;
    display: block;
    float: left;
}
.bx_item_list_you_looked_horizontal {
    position: relative;
    margin-bottom: 20px;
    border-radius: 3px;
}
.bx_item_list_you_looked_horizontal {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.bx_item_list_you_looked_horizontal {
    clear: both;
}
.select_discount{
    position: relative;
    top: -14px;
}
#page-preloader {
    position: relative;
    left: 0;
    display:none;
    top: 0;
    right: 0;
    width: 20px;
    bottom: 0;
    background: url('/bitrix/templates/nmg/images/preloader.gif') no-repeat 50% 50%;
    height: 20px;
}
.CatPopUp{
    z-index: 1100!important;
    position:relative;
    background-color: #fff;
    border-radius: 5px;
}
.CatPopUp .white_plash {
    padding: 30px 0 30px;
}

