.errortext{
	color: #d21c24;
	font-size: 12px;
	padding: 8px 15px;
	margin: 16px 0;
	border-top: solid 1px #b6b6b6;
	border-bottom: solid 1px #b6b6b6;
}

.notetext{
	color: #80568d;
	background: #f2eef3;
	font-size: 12px;
	padding: 8px 15px;
	margin: 16px 0;
	border-top: solid 1px #ded5e3;
	border-bottom: solid 1px #ded5e3;
}