.user-profile .right-right button.left-filter span span {
    padding-top: 8px;
}
button.orange span span {
    padding-top:6px;
}
.jqTransformInputInner div input {
	padding-top:0!important;
}
#BlogLeft .items {
	text-indent:0!important;
}
.sdfsdfsdf{
	position:relative; left:0px !important;
}
.itemMainLast{
	margin-top:0px !important;
}