/** bottom menu **/
.bottommenu {
	width:100%;
	text-align:center;
}
.bottommenu a{
	color:#808080;
}

.bottommenu.selected{
	font-weight:bold;
}

.bottommenu ul li{
	display:inline;
	padding-left:20px;
	background: url("images/point.png") no-repeat;
}

.bottommenu ul #nostyle{
	background: none;
	padding-left:0px;
}